body {
    background: #839fba;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
}

p {
    background: #BDBDBD;
    border-radius: 3px;
    bottom: 2.5em;
    height: 1em;
    left: 1em;
    margin: 0;
    position: absolute;
    width: 60%;
}
p.short {
    bottom: 1em;
    width: 30%;
}


#window {
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    margin: 40px auto;
    overflow: hidden;
    padding-bottom: 40px;
    position: relative;
    width: 800px;
}

#header {
    background: #E0E0E0;
    height: 40px;
    position: relative;
    width: 100%;
}



input[type="radio"] {display: none;}

label {
    display: inline-block;
    font-size: 0;
    height: 32px;
    position: absolute;
    right: 110px;
    top: 90px;
    width: 32px;
}
label + label {right: 80px;}

label .square {
    background: #E0E0E0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 1px;
    width: 10px;
}
label .square.big {
    height: 22px;
    width: 22px;
}
label:hover .square {
    background: #BDBDBD;
}



#headline {
    font-size: 28px;
    height: 4.5em;
    margin: 20px 50px;
    position: relative;
}



input:checked + #carousel {
    height: 440px;
    width: calc(440px * 6 + 200px);
}

input:checked + #carousel .box {
    height: 400px;
    transform: scale(.8);
    width: 400px;
}
input:checked + #carousel .box:first-child {
    margin-left: 120px;
    transform: scale(1);
}
#carousel .box {
    background: #E0E0E0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 200px;
    margin: 10px;
    position: relative;
    width: 200px;
}
#carousel .box:hover {opacity: .6;}